<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :who_experienced %><br>
    <%= f.text_field :who_experienced %>
  </div>
  <div class="field">
    <%= f.label :patron_verify %><br>
    <%= f.text_field :patron_verify %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :browser %><br>
    <%= f.text_field :browser %>
  </div>
  <div class="field">
    <%= f.label :opac_error %><br>
    <%= f.text_field :opac_error %>
  </div>
  <div class="field">
    <%= f.label :name_of_db %><br>
    <%= f.text_field :name_of_db %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :patron_name %><br>
    <%= f.text_field :patron_name %>
  </div>
  <div class="field">
    <%= f.label :patron_email %><br>
    <%= f.text_field :patron_email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
